// COLORS
$bg-color:#1b0608;
$bg-color-light: #fcefee;
$bg-color-dark: #501310;
$btn-color: #ab2933;
$footer-color: #060202;


$color-white: #fff;
$color-black: #000;
$color-grey: #505050;
$color-grey-2: #808080;

// GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;