.composition{
  
}
.video{
    width: 100%;
    height: auto;
    border-radius: 1rem;

   

}

.photo{
    width: 100%;
    height: auto;

    @include respond (tab-port){
        width: 70%;
        margin-left: 15%;
    }
}

.map{
    width: 100%;
    height: auto;
    border-radius: 3rem;
   
}

iframe{
    width: 90%;
    height: 23rem;
}